@model Symposium.Models.Post

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "Posts", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form newPostForm", role = "form" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h3>Edit @Model.Title</h3>

    @Html.HiddenFor(model => model.PostId)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.Likes)
    @Html.HiddenFor(model => model.LikedBy)

    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "label" })

    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "input" } })
    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })



    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "label" })

    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "input" } })
    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })


    <label class="label">Image URL</label>
    @Html.EditorFor(model => model.ImgURL, new { htmlAttributes = new { @class = "input" } })
    @Html.ValidationMessageFor(model => model.ImgURL, "", new { @class = "text-danger" })



    <input id="loginButton" type="submit" value="Save Changes" />


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
